.mainStacksCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: medium;
}

.tolColumn {
  display: flex;
  flex-direction: row;
}

.tolStacks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.finalcontainer {
  margin: 10px;
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 100px;
  height: fit-content;
  width: fit-content;
  align-items: center;
  background-color: black;
  padding: 10px;
  color: white;
}
.container {
  margin: 10px;
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  width: fit-content;
  align-items: center;
}
.stack {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 5px;
  padding: 5px 2px;
  /* background-color: thistle; */
  min-height: 10px;
}

.stackStick {
  position: absolute;
  bottom: 0;
  left: 45px;
  width: 10px;
  height: 100%;
  background-color: #966f33;
  border-radius: 10px;
}
