.container{
    display: flex;
    width: 100%;
    height: fit-content;
}
.stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    align-items: center;
    margin: 0 5px;
    align-self: flex-end;
    text-align: center;
    background-color: thistle;
    height: 100%;
    min-height: 10px;
    padding-bottom: 15px;
}