.stroopGameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  background-color: black;
  color: white !important;
}

.font {
  font-size: min(18px, calc(16px + 0.5vw)) !important;
}
