  .deck {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightblue;
    width: 100%;
  }
  
  .deck > div {
    position: absolute;
    top: 0;
    will-change: transform;
  }
  
  .deck > div > div {
    cursor: pointer;
    will-change: transform;
    border-radius: 10px;
    border-radius: 12px;
    box-shadow: 0 10px 10px -10px rgba(50, 50, 73, 0.8), 0 15px 10px -10px rgba(50, 50, 73, 0.8);
  }
  