.iframeContainer {
  height: 100vh;
  width: 100%;
}

.surveysIframe {
  height: 100%;
  width: 100%;
  border: none;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
