.bart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bart > * {
  margin-top: 10px;
}

.money {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: min(100%, 720px);
}
.moneyHeading * {
  font-size: 16px !important;
}
.moneyHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.practice {
  font-size: 24 !important;
  font-weight: 700;
}
