.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 5vw;
}

.img {
  align-items: center;
  max-width: 640px !important;
}

.buttons {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  max-width: 720px;
}
